html {
	background-color: #ecf0f1;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background-color: none;
	transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	margin: 0px 5px 0px 5px;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

#main-container {
	width: 100%;
	box-shadow: 5px 5px 5px #888888;
	background-color: #ffffff;
}

.container-header {
	padding: 15px 0px 15px 0px;
	box-shadow: 0px 3px 5px #888888;
	color: #ffffff;
	font: 300 20px Roboto,arial,sans-serif;
	background-color: #D64541;
	position: fixed;
	z-index: 1;
	width: 79.68%;
	margin: 0 auto;
	text-align: right;
	padding-bottom: 30px;
	height: 100px;
}

.header-text {
	font-size: 3em;
	padding-top: 25px;
	padding-right: 50px;
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
	margin-bottom: 45px;
}

.header-text-2 {
	font-size: 2em;
	padding-left: 25px;
	padding-bottom: 18px;
	color: #fff;
	box-shadow: 4px 3px 7px -1px #888888;
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.container-body {
	background-color: #FFFFFF;
	font: 300 20px Roboto,arial,sans-serif;
	height: 2000px;
	padding-top: 150px;
	padding-left: 50px;
	padding-right: 50px;
	position: initial;
}

#documentation-short {
	max-height: 200px;
}

.search {
	width: 100%;
}

.txt-search {
	padding: 8px 15px;
	background: rgba(50, 50, 50, 0.2);
	border: 0px solid #dbdbdb;
	width: 30%;
	font: 18px Roboto,arial,sans-serif;
}

.btn-search {
	position: relative;
	padding: 8px 15px;
	left: -8px;
	border: none;
	background-color: #D64541;
	color: #fafafa;
	font: 18px Roboto,arial,sans-serif;
}

.drop-wrapper {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 13px 0px 5px 0;
	margin-right: -10px;
}

	.drop-wrapper li {
		font: 18px Roboto,arial,sans-serif;
		display: inline-block;
		margin-right: 17px;
		position: relative;
		padding: 15px 20px;
		background: #fff;
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	}

		.drop-wrapper li ul {
			padding: 0;
			position: absolute;
			top: 48px;
			left: 0;
			width: 150px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			display: none;
			opacity: 0;
			visibility: hidden;
			-webkit-transiton: opacity 0.2s;
			-moz-transition: opacity 0.2s;
			-ms-transition: opacity 0.2s;
			-o-transition: opacity 0.2s;
			-transition: opacity 0.2s;
		}

			.drop-wrapper li ul li {
				background: #fff;
				display: block;
				color: #000;
				box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
				width: 150px;
			}

				.drop-wrapper li ul li:hover {
					background: #ebe4e4;
				}

		.drop-wrapper li:hover ul {
			display: block;
			opacity: 1;
			visibility: visible;
		}

#main-todo-board {
	width: 300px;
	/* box-shadow: 6px 14px 15px 2px #888888; */
	background-color: transparent;
	position: fixed;
	z-index: 999;
}

.todo-container-header {
	padding: 15px 0px 15px 0px;
	color: #404040;
	font: 300 20px Roboto,arial,sans-serif;
	background-color: #2c3e50;
	height: 50px;
	position: absolute;
	width: inherit;
	z-index: 1;
}

#tbl-forum-main {
	margin-top: 20px;
	width: 100%;
	padding-left: 100px;
	font: 300 20px Roboto,arial,sans-serif;
	border-bottom: 1px #000;
	background-color: #F0F0F0;
	padding-top: 20px;
	padding-bottom: 20px;
	table-layout: fixed;
}

.frm-header {
	font: 300 20px Roboto,arial,sans-serif;
	padding-right: 400px;
}

.frm-header-2 {
	font: 300 20px Roboto,arial,sans-serif;
	padding-right: 50px;
}

.todo-body {
    margin-left: 0px;
    
	margin-right: 20px;
    
    background-color: #fff;
    box-shadow: 4px 3px 7px -1px #888888;
	float: right;
    position: fixed;
    top: 150px;
    height: 80%;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}

.todo-input {
    width: 100%;

    margin-top: px;
}

.todo-input-textbox{
    width: inherit;

    box-sizing: border-box;
    border-right: none;
    border-left: none;
    border-top: none;
}

.todo-submit-button {
    border: none;

    background-color: #fff;
    color: #000;
    font-size: .7em;
    margin: 5px;
    text-transform: uppercase;
}

.todo-submit-button:hover {
    font-weight: 600;
}

.todo-list {
    list-style-type: none;

}

.todo-list li {
    
    

    color: #000;

    display: -webkit-box;
}

.todo-controls {
    padding-left: 15px;

}

.todo-remaining-count {
    font-size: .5em;

    padding-left: 25px;
    padding-bottom: 5px;
    text-align: center;
}

@media screen and (max-device-width: 480px){
    /*--- iPhone only CSS here ---*/
    .header-text {
	font-size: 1em;
	padding-top: 25px;
	padding-right: 50px;
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
	margin-bottom: 45px;
}
}